
EmpBirhyNotification/.vs/EmpBirhyNotification/v15/Server/sqlite3/storage.ide-wal
EmpBirhyNotification/.vs/EmpBirhyNotification/v15/Server/sqlite3/storage.ide-shm
EmpBirhyNotification/.vs/EmpBirhyNotification/v15/Server/sqlite3/storage.ide
EmpBirhyNotification/.vs/EmpBirhyNotification/v15/Server/sqlite3/db.lock
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Antlr3.Runtime.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Antlr3.Runtime.pdb
EmpBirhyNotification/EmpBirhyNotification.Web/bin/ApplicationInsights.config
EmpBirhyNotification/EmpBirhyNotification.Web/bin/EmpBirhyNotification.Web.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/EmpBirhyNotification.Web.dll.config
EmpBirhyNotification/EmpBirhyNotification.Web/bin/EmpBirhyNotification.Web.pdb
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.AI.Agent.Intercept.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.AI.DependencyCollector.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.AI.DependencyCollector.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.AI.PerfCounterCollector.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.AI.ServerTelemetryChannel.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.AI.Web.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.AI.Web.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.AI.WindowsServer.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.AI.WindowsServer.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.ApplicationInsights.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.AspNet.TelemetryCorrelation.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.AspNet.TelemetryCorrelation.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Microsoft.Web.Infrastructure.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Newtonsoft.Json.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/Newtonsoft.Json.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/csc.exe
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/csc.exe.config
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/csc.rsp
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/csi.exe
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/csi.exe.config
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/csi.rsp
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/Microsoft.CodeAnalysis.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/Microsoft.CSharp.Core.targets
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/Microsoft.Managed.Core.targets
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/Microsoft.VisualBasic.Core.targets
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.AppContext.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Collections.Immutable.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Console.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Diagnostics.StackTrace.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.IO.Compression.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.IO.FileSystem.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.IO.FileSystem.Primitives.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.IO.Pipes.AccessControl.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.IO.Pipes.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Reflection.Metadata.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Security.AccessControl.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Security.Claims.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Security.Cryptography.Algorithms.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Security.Cryptography.Encoding.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Security.Cryptography.Primitives.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Security.Principal.Windows.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Text.Encoding.CodePages.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.ValueTuple.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Xml.ReaderWriter.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Xml.XmlDocument.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Xml.XPath.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/System.Xml.XPath.XDocument.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/vbc.exe
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/vbc.exe.config
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/vbc.rsp
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/VBCSCompiler.exe
EmpBirhyNotification/EmpBirhyNotification.Web/bin/roslyn/VBCSCompiler.exe.config
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Diagnostics.DiagnosticSource.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Diagnostics.DiagnosticSource.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.Helpers.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.Helpers.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.Mvc.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.Mvc.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.Optimization.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.Optimization.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.Razor.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.Razor.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.WebPages.Deployment.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.WebPages.Deployment.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.WebPages.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.WebPages.Razor.dll
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.WebPages.Razor.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/System.Web.WebPages.xml
EmpBirhyNotification/EmpBirhyNotification.Web/bin/WebGrease.dll
EmpBirhyNotification/EmpBirhyNotification.Web/obj/Debug/build.force
EmpBirhyNotification/EmpBirhyNotification.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EmpBirhyNotification/EmpBirhyNotification.Web/obj/Debug/EmpBirhyNotification.Web.csproj.CopyComplete
EmpBirhyNotification/EmpBirhyNotification.Web/obj/Debug/EmpBirhyNotification.Web.csproj.CoreCompileInputs.cache
EmpBirhyNotification/EmpBirhyNotification.Web/obj/Debug/EmpBirhyNotification.Web.csproj.FileListAbsolute.txt
EmpBirhyNotification/EmpBirhyNotification.Web/obj/Debug/EmpBirhyNotification.Web.csprojAssemblyReference.cache
EmpBirhyNotification/EmpBirhyNotification.Web/obj/Debug/EmpBirhyNotification.Web.dll
EmpBirhyNotification/EmpBirhyNotification.Web/obj/Debug/EmpBirhyNotification.Web.pdb
EmpBirhyNotification/EmpBirhyNotification.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EmpBirhyNotification/EmpBirhyNotification.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EmpBirhyNotification/EmpBirhyNotification.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
